@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Richard Haley University</h1>
    <p class="lead">RHU provides you the opportunity to study at a world-class institution that not only gives you the knowledge to become a great artist or designer, but also the experience to prove it through your work.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>RESOURCES</h2>
        <p>
            Resources for faculty, current students, and alumni.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ADMISSIONS AND AID</h2>
        <p>Your future in art and design starts here. Apply today!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CAREERS AND EXPERIMENTAL LEARNING</h2>
        <p>Experiential learning helps prepare you for life after graduation. It will provide you with opportunities to gain practical skills through hands-on experiences with faculty, peers, industry and community partners.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>