@model List<Rm_Midterm.Models.Courses>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Courses</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
        </tr>
    </thead>

    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@Html.ActionLink(course.CourseName, "Details", "Courses", new { id = course.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Add New Course", "CourseForm", "Courses", null, new { @class = "btn btn-primary" })
</p>